@*@{ViewBag.CurrentUser = "user";}*@

<form action="~/Home/Search" method="post">
    <input type="Search" name="Search" placeholder="Search" />
</form>
@if(ViewBag.Error != null)
{
    @ViewBag.Error;
}
@if (ViewBag.MovieTitle != null)
{
    foreach (var item in ViewBag.MovieTitle)
    {
<div>
    @if (item.Type == "movie")
    {
        <p><img src=@item.Poster alt="Poster for movie" /></p>
        <p>@item.Title</p>
        <p>@item.ReleaseYear</p>
        <p>@item.Type</p>
        <p>Save to Favorites?</p>
        <form action="~/MovieFavorites/Create" method="post">
            <input hidden name="title" value="@item.Title" />
            <input hidden name="year" value="@item.ReleaseYear" />
            <input hidden name="type" value="@item.Type" />
            <input hidden name="poster" value="@item.Poster" />
            <input class="Create" type="submit" value="Add To Favorites" />
        </form>
    }

    @*
        Currently commented out until user is implemented
        @if (ViewBag.CurrentUser == null)
    {
        <p>Please Login to add to Favorites.</p>
        <p> @Html.ActionLink("Register Here!", "Registration", "Home")</p>
    }
    else
    {

        <form action="~/MovieFavorites/Create" method="post">
            <input hidden name="title" value="@item.Title" />
            <input hidden name="year" value="@item.ReleaseYear" />
            <input hidden name="type" value="@item.Type" />
            <input hidden name="poster" value="@item.Poster" />
            <input class="Create" type="submit" value="Add To Favories" />
        </form>
    }*@
</div>

    }
}

